body {
    font-family: Arial, Helvetica, sans-serif;
}

#BoardContainer {
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    width: 600px;
    height: 600px;
}

#Board {
    position: relative;
}

#Resources {
    display: flex;
    justify-content: space-between;
    color: black;
    border: 1px solid red;
    width: 600px;
    height: 40px;
    z-index: 2;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

#Resources p {
    margin: 0;
    padding: 0;
}

#RegionResources {
    display: none;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-20%, -50%);
    width: 280px;
    height: 580px;
    padding: 10px;
    border: 1px solid black;
}

#BuildingsMenu {
    display: grid;
    position: absolute;
    bottom: 10px;
    height: 60px;
    width: 180px;
    grid-template-columns: repeat(3, 60px);
    gap: 2px;
}


#BuildingsMenu > div {
    border: 1px solid black;
    height: 60px;
    width: 60px;
}

#FuelEx {
    background: url('bomb1.png');
    background-size: 60px 60px;
}
