body {
    font-family: Arial, Helvetica, sans-serif;
}

#BoardContainer {
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    width: 600px;
    height: 600px;
}

#Board {
    position: relative;
}

#Resources {
    display: flex;
    justify-content: space-between;
    color: black;
    border: 1px solid red;
    width: 600px;
    height: 40px;
    z-index: 2;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

#Resources p {
    margin: 0;
    padding: 0;
}