body {
    font-family: Arial, Helvetica, sans-serif;
}

#BoardContainer {
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    width: 98vw;
    height: 98vh;
    z-index: -1;
}

#Board {
    position: relative;
    z-index: -2;
}

#Resources {
    position: absolute;
    display: flex;
    justify-content: space-between;
    color: black;
    border: 1px solid red;
    width: 600px;
    height: 45px;
    z-index: 2;
    left: 10px;
    top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    box-sizing: border-box;
    background: white;
}

#Resources p {
    margin: 0;
    padding: 0;
}

#RegionResources {
    display: none;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-20%, -50%);
    width: 280px;
    height: 580px;
    padding: 10px;
    border: 1px solid black;
}

#BuildingsMenu {
    display: grid;
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 60px;
    width: 180px;
    grid-template-columns: repeat(3, 60px);
    gap: 2px;
}


#BuildingsMenu > div {
    border: 1px solid black;
    height: 60px;
    width: 60px;
}

#FuelEx {
    background-image: url('Pirates!_GoldMine.png');
    background-size: 60px 60px;
}

#Farm {
    background-image: url('Chicken_coop_brown.png');
    background-size: 60px 60px;
}

#Well {
    background-image: url('Medieval_Fountain_sprites/Medieval_Fountain_sprite01.png');
    background-size: 60px 60px;
}

.Ghost {
    position: absolute;
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    pointer-events: none;
    z-index: 100;
}

#FuelExSideInfo {
    color: #b400e0;
}

#FoodEarnedSideInfo {
    color: #00c400;
}

#WaterSideInfo {
    color: #01c9b8;
}

#ZoomControls {
    position: absolute;
    display: grid;
    grid-template-columns: 60px 60px;
    bottom: 10px;
    right: 10px;
    gap: 5px;
}

#ZoomControls div {
    border: 1px solid black;
    height: 60px;
    text-align: center;
    font-size: 60px;
    line-height: 60px;
}

.NameChange {
    position: absolute;
    font-size: 16px;
    padding: 2px;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.9);
    z-index: 100;
    min-width: 50px;
}

#CurrentEvents {
    position: absolute;
    width: 250px;
    right: 10px;
    top: 10px;
}